{% extends 'base.html' %}

{% block title %}
    News
{% endblock %}

{% block content %}
    <div id="sidenav" class="sidenav">
        <a href="#block-1" id="about">Paragraph 1</a>
        <a href="#block-2" id="blog">Paragraph 2</a>
        <a href="#block-3" id="contact">Paragraph 3</a>
        <a href="#block-4" id="projects1">Paragraph 4</a>
        <a href="#block-5" id="projects2">Paragraph 5</a>
        <a href="#block-6" id="projects3">Paragraph 6</a>
        <a href="#block-7" id="projects4">Paragraph 7</a>
    </div>
    <div class="text-block">
        <div id="text-block-h1">
            <h1>Welcome on my awesome homepage.</h1>
        </div>
        <div id="text-block-divs">
            <div id="text-block-div-1">
                <div id="block-1" class="paragraph">{{ paragraphs[0] }}</div>
                <br>
                <div id="block-2" class="paragraph">{{ paragraphs[1] }}</div>
                <br>
                <div id="block-3" class="paragraph">{{ paragraphs[2] }}</div>
                <br>
                <div id="block-4" class="paragraph">{{ paragraphs[3] }}</div>
                <br>
                <div id="block-5" class="paragraph">{{ paragraphs[4] }}</div>
                <br>
                <div id="block-6" class="paragraph">{{ paragraphs[5] }}</div>
                <br>
                <div id="block-7" class="paragraph">{{ paragraphs[6] }}</div>
            </div>
            <div id="text-block-div-2">
                <div class="paragraph">
                    {{ long_right }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}