* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --tw-shadow: 0 0 transparent;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

a {
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline;
}

.text-green-600 {
    --tw-text-opacity: 1;
    color: #0b564b;
}

.text-3xl {
    margin-left: 10px;
    font-size: 1.275rem;
    line-height: 2.25rem;
}

html, body {
    font-family: 'Open Sans', sans-serif;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    flex-direction: column;
    line-height: 1.4;
}

#root {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.App {
}

.Social {
    display: flex;
    justify-content: center;
}

.Icon {
    fill: #371a8d;
    transition: transform .2s;
    width: 50px;
    height: 50px;
    margin-inline: 20px;
}

.Icon:hover {
  transform: scale(1.2);
}

.List {
    display: flex;
    padding: 15px;
    border: 2px solid #8906c7;
    margin-top: 15px;
}

#lead {
    display: flex;
    align-items: center;
    position: relative;
    height: 100vh;
    min-height: 500px;
    max-height: 1080px;
    background-size: cover;
    padding: 15px;
    overflow: hidden;
    justify-content: center;
}

#lead-content {
    text-shadow: 0 0 8px #00ffe45c;
    position: absolute;
    z-index: 10;
    text-align: start;
    display: flex;
    flex-direction: column;
}

#lead-content h1 {
    color: #6011b7;
    font-weight: 900;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.9em;
}

#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

#names {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}