.header{
    position: sticky;
    top: 0;
    flex: 0 0 auto;
    flex-direction: column;
    /*min-height: 100%;*/
}

.div_header_menu ul{
    list-style-type: none;
    background-color: rgb(28, 42, 47);
    margin: 0;
    padding-block: 5px;
    display: flex;
}

    .ul_header_menu li a{
        text-decoration: none;
        padding: 5px 15px 5px 15px;
        font-size: 24px;
        color: #17afac;
    }

        li a:hover{
             color: aqua;
        }
